
<div fxLayout="column" fxLayoutAlign="space-around center" class="container-fluid">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="carroucel">
    <mat-card class="example-card">
      <app-carrucel></app-carrucel>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="comentario">
    <mat-card>
      <app-comentarios></app-comentarios>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="servicios">
    <app-servicios></app-servicios>
  </div>
</div>
