<h1 mat-dialog-title>Acciones sobre el Usuario</h1>
<div mat-dialog-content>
  <p>Seleccione un tipo de usuario:</p>
    <mat-radio-group  aria-label = "Seleccione una opción" [(ngModel)]="data.tipoUser" class="radio-group">
    <mat-radio-button class="radio-button" value = "ADMIN" > Administrador </mat-radio-button>
    <mat-radio-button class="radio-button"  value = "USER" > Usuario</mat-radio-button>
    <mat-radio-button class="radio-button"  value = "CLIENT" > Cliente</mat-radio-button>
  </mat-radio-group>
  <mat-divider></mat-divider>

  <div class="button-container">
    <p>Acciones</p>
    <button mat-icon-button aria-label="Editar usuario" matTooltip="Editar">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button aria-label="Eliminar usuario" matTooltip="Eliminar">
      <mat-icon>delete</mat-icon>
    </button>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.tipoUser" cdkFocusInitial>Aceptar</button>
</div>
